    <input type="hidden" id="_csrf" name="_csrf" value="<%= csrftoken %>" />
    <input type="hidden" id="bright" name="bright" value="<%= bright %>" />
    <input type="hidden" id="userid" name="userid" value="<%= user._id %>" />
    <input type="hidden" id="timezone" name="timezone" value="<%= user.timezone %>" />

    <header>
      <strong>AppStore</strong>
      <div id="_userbox">
        <div>
          <a href="#" id="_userpic"><img src="<%= user.photo ? '/picture/' + user.photo.big : '/images/user.png' %>"></a>
          <a href="#" id="_username"><%= user.name.name_zh %></a>
        </div>
        <ul>
          <li><a href="#" id="_user"><i class="icon-wrench"></i></a></li>
          <li><a href="/simplelogout" id="_logout"><i class="icon-signout"></i></a></li>
        </ul>
      </div>
    </header>
    <div id="_navbar">
      <nav>
        <ul id="_group1" rel="sam">
          <li><a id="importuser" href="/starwall"><%= '主页' %></a></li>
        </ul>
      </nav>
      <nav>
        <ul  rel="sam">
          <li><a id="listuser" href="/listuer"><%= '用户列表' %></a></li>
        </ul>
      </nav>
    </div>


 

