<% include common/head.html %>

<div class="span9">
    <!--<% /* include list/home/new_list.html */ %>-->

    <div >
            <span style="float: right " style="margin-bottom: 5px">
                <div class="btn-group">
                    <a href="/app/add/step1">
                    <button type="button" class="btn btn-small btn-primary">
                        <span class="icon-plus"></span>
                        <span class="sr-only">
                             上传新应用
                        </span>
                    </button>
                    </a>
                </div>
                </span>
        <h3 class="page-header" style="width: auto;">应用一览</h3>
    </div>

    <!--<div class="page-header"><h3>应用一览</h3></div>-->
    <div id="list_container"></div>
</div>

<% include common/template_detail_list.html %>

<table id="dl_list_table" class="table table-hover" style="width: 80%">
<thead id="dl_list_thead">

<tr>
    <!-- 设置title -->
    <th nowrap="">アイコン</th>  <th nowrap="" style="width: 200px">App</th>
    <th nowrap="" style="margin-left: 300px">OS</th>
    <th nowrap="">要求</th>  <th nowrap="">状態</th>
    <th nowrap="">更新情報</th>  <th nowrap="">操作</th>
</tr>
</thead>
<tbody id="dl_list_tbody">

<tr><td style="min-width:100px;"><a href="/detaildemo">
    <img src="/picture/#" alt="1" style="width:100%;height:auto">
</a></td><td style="min-width:150px;">
    <strong>名称：</strong> 1<br>
    <strong>バージョン：</strong> 11<br>
    <strong>サイズ：</strong> 0 <br>
    <span id="appScore">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-half-empty"></i>
        <i class="icon-star-empty"></i>
        <span id="userCount">(503)</span>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></span>

</td><td style="min-width:48px;">
    <img src="/images/system/ios.png" style="width:48px;height:auto">
</td><!-- 需求 -->
    <td style="min-width:150px;">
        <strong>OS:</strong> 6.0<br>
        <strong>デバイス：</strong>  手机<br>
    </td><!-- 状态 -->
    <td nowrap="">

        無効

    </td><td nowrap="">
        <strong>版权企业：</strong> temp<br>
        <strong>更新日時：</strong> 2013/12/23 16:59<br>
        <!--<strong>作成者：</strong> temp<br>-->
        <!--<strong>作成日時：</strong> 2013/12/23 16:59<br>-->
    </td><td nowrap="">


        <a href="/app/add/step1" style="float:left;margin-right:2px;">
            <button class="btn btn-small btn-success">編集</button></a>


        <a href="#" style="float:right;">
            <button class="btn btn-small btn-success" disabled="">安装</button></a>

        <a href="/app/add/step1" style="float:left;margin-right:2px;margin-top: 10px">
            <button class="btn btn-small btn-success">下架</button></a>

        <a href="/app/add/step1" style="float:right;margin-top: 10px">
            <button class="btn btn-small btn-success">审核</button></a>

    </td>



</tr>

<tr><td style="min-width:100px;"><a href="/detaildemo">
    <img src="/picture/#" alt="1" style="width:100%;height:auto">
</a></td><td style="min-width:150px;">
    <strong>名称：</strong> 1<br>
    <strong>バージョン：</strong> 11<br>
    <strong>サイズ：</strong> 0 <br>
    <span id="appScore">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-half-empty"></i>
        <i class="icon-star-empty"></i>
        <span id="userCount">(503)</span>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></span>

</td><td style="min-width:48px;">
    <img src="/images/system/ios.png" style="width:48px;height:auto">
</td><!-- 需求 -->
    <td style="min-width:150px;">
        <strong>OS:</strong> 6.0<br>
        <strong>デバイス：</strong>  手机<br>
    </td><!-- 状态 -->
    <td nowrap="">

        無効

    </td><td nowrap="">
        <strong>版权企业：</strong> temp<br>
        <strong>更新日時：</strong> 2013/12/23 16:59<br>
        <!--<strong>作成者：</strong> temp<br>-->
        <!--<strong>作成日時：</strong> 2013/12/23 16:59<br>-->
    </td><td nowrap="">


        <a href="/app/add/step1" style="float:left;margin-right:2px;">
            <button class="btn btn-small btn-success">編集</button></a>


        <a href="#" style="float:right;">
            <button class="btn btn-small btn-success" disabled="">安装</button></a>

        <a href="/app/add/step1" style="float:left;margin-right:2px;margin-top: 10px">
            <button class="btn btn-small btn-success">下架</button></a>

        <a href="/app/add/step1" style="float:right;margin-top: 10px">
            <button class="btn btn-small btn-success">审核</button></a>

    </td>



</tr>
<tr><td style="min-width:100px;"><a href="/detaildemo">
    <img src="/picture/#" alt="1" style="width:100%;height:auto">
</a></td><td style="min-width:150px;">
    <strong>名称：</strong> 1<br>
    <strong>バージョン：</strong> 11<br>
    <strong>サイズ：</strong> 0 <br>
    <span id="appScore">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-half-empty"></i>
        <i class="icon-star-empty"></i>
        <span id="userCount">(503)</span>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></span>

</td><td style="min-width:48px;">
    <img src="/images/system/ios.png" style="width:48px;height:auto">
</td><!-- 需求 -->
    <td style="min-width:150px;">
        <strong>OS:</strong> 6.0<br>
        <strong>デバイス：</strong>  手机<br>
    </td><!-- 状态 -->
    <td nowrap="">

        無効

    </td><td nowrap="">
        <strong>版权企业：</strong> temp<br>
        <strong>更新日時：</strong> 2013/12/23 16:59<br>
        <!--<strong>作成者：</strong> temp<br>-->
        <!--<strong>作成日時：</strong> 2013/12/23 16:59<br>-->
    </td><td nowrap="">


        <a href="/app/add/step1" style="float:left;margin-right:2px;">
            <button class="btn btn-small btn-success">編集</button></a>


        <a href="#" style="float:right;">
            <button class="btn btn-small btn-success" disabled="">安装</button></a>

        <a href="/app/add/step1" style="float:left;margin-right:2px;margin-top: 10px">
            <button class="btn btn-small btn-success">下架</button></a>

        <a href="/app/add/step1" style="float:right;margin-top: 10px">
            <button class="btn btn-small btn-success">审核</button></a>

    </td>



</tr>

<tr><td style="min-width:100px;"><a href="/detaildemo">
    <img src="/picture/#" alt="1" style="width:100%;height:auto">
</a></td><td style="min-width:150px;">
    <strong>名称：</strong> 1<br>
    <strong>バージョン：</strong> 11<br>
    <strong>サイズ：</strong> 0 <br>
    <span id="appScore">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-half-empty"></i>
        <i class="icon-star-empty"></i>
        <span id="userCount">(503)</span>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></span>

</td><td style="min-width:48px;">
    <img src="/images/system/ios.png" style="width:48px;height:auto">
</td><!-- 需求 -->
    <td style="min-width:150px;">
        <strong>OS:</strong> 6.0<br>
        <strong>デバイス：</strong>  手机<br>
    </td><!-- 状态 -->
    <td nowrap="">

        無効

    </td><td nowrap="">
        <strong>版权企业：</strong> temp<br>
        <strong>更新日時：</strong> 2013/12/23 16:59<br>
        <!--<strong>作成者：</strong> temp<br>-->
        <!--<strong>作成日時：</strong> 2013/12/23 16:59<br>-->
    </td><td nowrap="">


        <a href="/app/add/step1" style="float:left;margin-right:2px;">
            <button class="btn btn-small btn-success">編集</button></a>


        <a href="#" style="float:right;">
            <button class="btn btn-small btn-success" disabled="">安装</button></a>

        <a href="/app/add/step1" style="float:left;margin-right:2px;margin-top: 10px">
            <button class="btn btn-small btn-success">下架</button></a>

        <a href="/app/add/step1" style="float:right;margin-top: 10px">
            <button class="btn btn-small btn-success">审核</button></a>

    </td>



</tr>


<tr><td style="min-width:100px;"><a href="/detaildemo">
    <img src="/picture/#" alt="1" style="width:100%;height:auto">
</a></td><td style="min-width:150px;">
    <strong>名称：</strong> 1<br>
    <strong>バージョン：</strong> 11<br>
    <strong>サイズ：</strong> 0 <br>
    <span id="appScore">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-half-empty"></i>
        <i class="icon-star-empty"></i>
        <span id="userCount">(503)</span>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></span>

</td><td style="min-width:48px;">
    <img src="/images/system/ios.png" style="width:48px;height:auto">
</td><!-- 需求 -->
    <td style="min-width:150px;">
        <strong>OS:</strong> 6.0<br>
        <strong>デバイス：</strong>  手机<br>
    </td><!-- 状态 -->
    <td nowrap="">

        無効

    </td><td nowrap="">
        <strong>版权企业：</strong> temp<br>
        <strong>更新日時：</strong> 2013/12/23 16:59<br>
        <!--<strong>作成者：</strong> temp<br>-->
        <!--<strong>作成日時：</strong> 2013/12/23 16:59<br>-->
    </td><td nowrap="">


        <a href="/app/add/step1" style="float:left;margin-right:2px;">
            <button class="btn btn-small btn-success">編集</button></a>


        <a href="#" style="float:right;">
            <button class="btn btn-small btn-success" disabled="">安装</button></a>

        <a href="/app/add/step1" style="float:left;margin-right:2px;margin-top: 10px">
            <button class="btn btn-small btn-success">下架</button></a>

        <a href="/app/add/step1" style="float:right;margin-top: 10px">
            <button class="btn btn-small btn-success">审核</button></a>

    </td>



</tr>

<tr><td style="min-width:100px;"><a href="/detaildemo">
    <img src="/picture/#" alt="1" style="width:100%;height:auto">
</a></td><td style="min-width:150px;">
    <strong>名称：</strong> 1<br>
    <strong>バージョン：</strong> 11<br>
    <strong>サイズ：</strong> 0 <br>
    <span id="appScore">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-half-empty"></i>
        <i class="icon-star-empty"></i>
        <span id="userCount">(503)</span>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></span>

</td><td style="min-width:48px;">
    <img src="/images/system/ios.png" style="width:48px;height:auto">
</td><!-- 需求 -->
    <td style="min-width:150px;">
        <strong>OS:</strong> 6.0<br>
        <strong>デバイス：</strong>  手机<br>
    </td><!-- 状态 -->
    <td nowrap="">

        無効

    </td><td nowrap="">
        <strong>版权企业：</strong> temp<br>
        <strong>更新日時：</strong> 2013/12/23 16:59<br>
        <!--<strong>作成者：</strong> temp<br>-->
        <!--<strong>作成日時：</strong> 2013/12/23 16:59<br>-->
    </td><td nowrap="">


        <a href="/app/add/step1" style="float:left;margin-right:2px;">
            <button class="btn btn-small btn-success">編集</button></a>


        <a href="#" style="float:right;">
            <button class="btn btn-small btn-success" disabled="">安装</button></a>

        <a href="/app/add/step1" style="float:left;margin-right:2px;margin-top: 10px">
            <button class="btn btn-small btn-success">下架</button></a>

        <a href="/app/add/step1" style="float:right;margin-top: 10px">
            <button class="btn btn-small btn-success">审核</button></a>

    </td>



</tr>



<tr><td style="min-width:100px;"><a href="/detaildemo">
    <img src="/picture/#" alt="1" style="width:100%;height:auto">
</a></td><td style="min-width:150px;">
    <strong>名称：</strong> 1<br>
    <strong>バージョン：</strong> 11<br>
    <strong>サイズ：</strong> 0 <br>
    <span id="appScore">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-half-empty"></i>
        <i class="icon-star-empty"></i>
        <span id="userCount">(503)</span>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></span>

</td><td style="min-width:48px;">
    <img src="/images/system/ios.png" style="width:48px;height:auto">
</td><!-- 需求 -->
    <td style="min-width:150px;">
        <strong>OS:</strong> 6.0<br>
        <strong>デバイス：</strong>  手机<br>
    </td><!-- 状态 -->
    <td nowrap="">

        無効

    </td><td nowrap="">
        <strong>版权企业：</strong> temp<br>
        <strong>更新日時：</strong> 2013/12/23 16:59<br>
        <!--<strong>作成者：</strong> temp<br>-->
        <!--<strong>作成日時：</strong> 2013/12/23 16:59<br>-->
    </td><td nowrap="">


        <a href="/app/add/step1" style="float:left;margin-right:2px;">
            <button class="btn btn-small btn-success">編集</button></a>


        <a href="#" style="float:right;">
            <button class="btn btn-small btn-success" disabled="">安装</button></a>

        <a href="/app/add/step1" style="float:left;margin-right:2px;margin-top: 10px">
            <button class="btn btn-small btn-success">下架</button></a>

        <a href="/app/add/step1" style="float:right;margin-top: 10px">
            <button class="btn btn-small btn-success">审核</button></a>

    </td>



</tr>


<tr><td style="min-width:100px;"><a href="/detaildemo">
    <img src="/picture/#" alt="1" style="width:100%;height:auto">
</a></td><td style="min-width:150px;">
    <strong>名称：</strong> 1<br>
    <strong>バージョン：</strong> 11<br>
    <strong>サイズ：</strong> 0 <br>
    <span id="appScore">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-half-empty"></i>
        <i class="icon-star-empty"></i>
        <span id="userCount">(503)</span>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></span>

</td><td style="min-width:48px;">
    <img src="/images/system/ios.png" style="width:48px;height:auto">
</td><!-- 需求 -->
    <td style="min-width:150px;">
        <strong>OS:</strong> 6.0<br>
        <strong>デバイス：</strong>  手机<br>
    </td><!-- 状态 -->
    <td nowrap="">

        無効

    </td><td nowrap="">
        <strong>版权企业：</strong> temp<br>
        <strong>更新日時：</strong> 2013/12/23 16:59<br>
        <!--<strong>作成者：</strong> temp<br>-->
        <!--<strong>作成日時：</strong> 2013/12/23 16:59<br>-->
    </td><td nowrap="">


        <a href="/app/add/step1" style="float:left;margin-right:2px;">
            <button class="btn btn-small btn-success">編集</button></a>


        <a href="#" style="float:right;">
            <button class="btn btn-small btn-success" disabled="">安装</button></a>

        <a href="/app/add/step1" style="float:left;margin-right:2px;margin-top: 10px">
            <button class="btn btn-small btn-success">下架</button></a>

        <a href="/app/add/step1" style="float:right;margin-top: 10px">
            <button class="btn btn-small btn-success">审核</button></a>

    </td>



</tr>


<tr><td style="min-width:100px;"><a href="/detaildemo">
    <img src="/picture/#" alt="1" style="width:100%;height:auto">
</a></td><td style="min-width:150px;">
    <strong>名称：</strong> 1<br>
    <strong>バージョン：</strong> 11<br>
    <strong>サイズ：</strong> 0 <br>
    <span id="appScore">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-half-empty"></i>
        <i class="icon-star-empty"></i>
        <span id="userCount">(503)</span>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></span>

</td><td style="min-width:48px;">
    <img src="/images/system/ios.png" style="width:48px;height:auto">
</td><!-- 需求 -->
    <td style="min-width:150px;">
        <strong>OS:</strong> 6.0<br>
        <strong>デバイス：</strong>  手机<br>
    </td><!-- 状态 -->
    <td nowrap="">

        無効

    </td><td nowrap="">
        <strong>版权企业：</strong> temp<br>
        <strong>更新日時：</strong> 2013/12/23 16:59<br>
        <!--<strong>作成者：</strong> temp<br>-->
        <!--<strong>作成日時：</strong> 2013/12/23 16:59<br>-->
    </td><td nowrap="">


        <a href="/app/add/step1" style="float:left;margin-right:2px;">
            <button class="btn btn-small btn-success">編集</button></a>


        <a href="#" style="float:right;">
            <button class="btn btn-small btn-success" disabled="">安装</button></a>

        <a href="/app/add/step1" style="float:left;margin-right:2px;margin-top: 10px">
            <button class="btn btn-small btn-success">下架</button></a>

        <a href="/app/add/step1" style="float:right;margin-top: 10px">
            <button class="btn btn-small btn-success">审核</button></a>

    </td>



</tr>


<tr><td style="min-width:100px;"><a href="/detaildemo">
    <img src="/picture/#" alt="1" style="width:100%;height:auto">
</a></td><td style="min-width:150px;">
    <strong>名称：</strong> 1<br>
    <strong>バージョン：</strong> 11<br>
    <strong>サイズ：</strong> 0 <br>
    <span id="appScore">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-half-empty"></i>
        <i class="icon-star-empty"></i>
        <span id="userCount">(503)</span>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></span>

</td><td style="min-width:48px;">
    <img src="/images/system/ios.png" style="width:48px;height:auto">
</td><!-- 需求 -->
    <td style="min-width:150px;">
        <strong>OS:</strong> 6.0<br>
        <strong>デバイス：</strong>  手机<br>
    </td><!-- 状态 -->
    <td nowrap="">

        無効

    </td><td nowrap="">
        <strong>版权企业：</strong> temp<br>
        <strong>更新日時：</strong> 2013/12/23 16:59<br>
        <!--<strong>作成者：</strong> temp<br>-->
        <!--<strong>作成日時：</strong> 2013/12/23 16:59<br>-->
    </td><td nowrap="">


        <a href="/app/add/step1" style="float:left;margin-right:2px;">
            <button class="btn btn-small btn-success">編集</button></a>


        <a href="#" style="float:right;">
            <button class="btn btn-small btn-success" disabled="">安装</button></a>

        <a href="/app/add/step1" style="float:left;margin-right:2px;margin-top: 10px">
            <button class="btn btn-small btn-success">下架</button></a>

        <a href="/app/add/step1" style="float:right;margin-top: 10px">
            <button class="btn btn-small btn-success">审核</button></a>

    </td>



</tr>


<tr><td style="min-width:100px;"><a href="/detaildemo">
    <img src="/picture/#" alt="1" style="width:100%;height:auto">
</a></td><td style="min-width:150px;">
    <strong>名称：</strong> 1<br>
    <strong>バージョン：</strong> 11<br>
    <strong>サイズ：</strong> 0 <br>
    <span id="appScore">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-half-empty"></i>
        <i class="icon-star-empty"></i>
        <span id="userCount">(503)</span>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></span>

</td><td style="min-width:48px;">
    <img src="/images/system/ios.png" style="width:48px;height:auto">
</td><!-- 需求 -->
    <td style="min-width:150px;">
        <strong>OS:</strong> 6.0<br>
        <strong>デバイス：</strong>  手机<br>
    </td><!-- 状态 -->
    <td nowrap="">

        無効

    </td><td nowrap="">
        <strong>版权企业：</strong> temp<br>
        <strong>更新日時：</strong> 2013/12/23 16:59<br>
        <!--<strong>作成者：</strong> temp<br>-->
        <!--<strong>作成日時：</strong> 2013/12/23 16:59<br>-->
    </td><td nowrap="">


        <a href="/app/add/step1" style="float:left;margin-right:2px;">
            <button class="btn btn-small btn-success">編集</button></a>


        <a href="#" style="float:right;">
            <button class="btn btn-small btn-success" disabled="">安装</button></a>

        <a href="/app/add/step1" style="float:left;margin-right:2px;margin-top: 10px">
            <button class="btn btn-small btn-success">下架</button></a>

        <a href="/app/add/step1" style="float:right;margin-top: 10px">
            <button class="btn btn-small btn-success">审核</button></a>

    </td>



</tr>

<tr><td style="min-width:100px;"><a href="/detaildemo">
    <img src="/picture/#" alt="1" style="width:100%;height:auto">
</a></td><td style="min-width:150px;">
    <strong>名称：</strong> 1<br>
    <strong>バージョン：</strong> 11<br>
    <strong>サイズ：</strong> 0 <br>
    <span id="appScore">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-half-empty"></i>
        <i class="icon-star-empty"></i>
        <span id="userCount">(503)</span>
      <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></span>

</td><td style="min-width:48px;">
    <img src="/images/system/ios.png" style="width:48px;height:auto">
</td><!-- 需求 -->
    <td style="min-width:150px;">
        <strong>OS:</strong> 6.0<br>
        <strong>デバイス：</strong>  手机<br>
    </td><!-- 状态 -->
    <td nowrap="">

        無効

    </td><td nowrap="">
        <strong>版权企业：</strong> temp<br>
        <strong>更新日時：</strong> 2013/12/23 16:59<br>
        <!--<strong>作成者：</strong> temp<br>-->
        <!--<strong>作成日時：</strong> 2013/12/23 16:59<br>-->
    </td><td nowrap="">


        <a href="/app/add/step1" style="float:left;margin-right:2px;">
            <button class="btn btn-small btn-success">編集</button></a>


        <a href="#" style="float:right;">
            <button class="btn btn-small btn-success" disabled="">安装</button></a>

        <a href="/app/add/step1" style="float:left;margin-right:2px;margin-top: 10px">
            <button class="btn btn-small btn-success">下架</button></a>

        <a href="/app/add/step1" style="float:right;margin-top: 10px">
            <button class="btn btn-small btn-success">审核</button></a>

    </td>



</tr>


</tbody>
<tfoot id="dl_list_foot">
<tr>
    <th colspan="7">
        <!-- Foot分页 -->
        <div id="dl_list_foot_pages" class="pagination pagination-right"></div>
    </th>
</tr>
</tfoot>
</table>

<!--<script type="text/javascript">-->
    <!--var list = DetailList.create();-->
    <!--$(document).ready(function() {-->
        <!--list.init($("#list_container"), {-->
            <!--id_prex :  "dl_list"-->
            <!--,str    : {"loading": "Loading........"}-->
            <!--,cols   : [ "icon", "info", "os", "require", "status", "update_info", "option"]-->
            <!--,url    : "/app/list.json?admin=1&sort=name&asc=1"-->
        <!--});-->

        <!--// 初始化加载数据-->
        <!--list.load();-->
    <!--});-->

    <!--function loadCategory(code) {-->

    <!--}-->
<!--</script>-->

<% include common/foot.html %>