<% include common/head.html %>
<!-- 加载模板 -->
<% include common/app_detail.html %>
<% include common/template_carousel.html %>

<% if(title == "app_list") { %>
  <% include common/sidebar.html %>
<% } %>

<script type="text/javascript" src="/javascripts/app_check_list.js"></script>

<div class="span9">
  <section id="thumbnails">
	  <!-- 进行判定，如果title == “app_list”则不显示“上传新应用按钮”，其他情况显示 -->
	  <% if(title == "app_list") { %>
	  <% }else{ %>
      <span style="float: right" style="margin-bottom: 5px">
        <a href="/app/add/step1">
          <button type="button" class="btn btn-small btn-primary">
            <span class="icon-plus"></span>
            <span class="sr-only">上传新应用</span>
          </button>
        </a>
      </span>
	  <% } %>
    <h3 class="page-header" id ="app_view_title" style="width: auto;">应用一览</h3>
    <div id="check_list_container" style="padding:5px; background:#ffffff;width:800px">
    </div><!--well-->
    <% include common/template_detail_list.html %>
  </section>
  <br><br>
</div>


<script type="text/javascript">
  var condition = "";
  if("<%= title %>" == "app_list"){
    condition = "status=2"
  } else if("<%= title %>" == "upload_list") {
    condition = "createBy="+smart.uid()
  } else if("<%= title %>" == "manage_list") {
    condition = ""
  }

  var list       = DetailList.create();
  var is_loading = false;
  $(document).ready(function() {
    list.init($("#check_list_container"), {
      id_prex :  "dl_list"
      ,str    : {"loading": "Loading........"}
      ,cols   : [ "icon", "info", "os", "require", "status", "update_info", "option"]
      ,url    : "/app/list.json?admin=1&sort=name&asc=1&"+condition
    });

    // 初始化加载数据
    list.load();
	  is_loading = true;
  });
  var title_category  = ' ( ' + name + ' ) ';
  var app_view_string = "应用一览";
//  留用
//  var big_title       = title_new_list;
//  console.log("title_new_list:"+title_new_list);
//  if(type == title_new_list){
//	  big_title = "新着";
//  }else if(type == title_download_list){
//	  big_title = "おすすめ";
//  }else if(type == title_rank_list){
//	  big_title = "ランキング";
//  }
  function filterCategory(code, name) {
	  if(is_loading == false || !code || !name){
		  return;
	  }
	  // 设置检索title
	  $('#app_view_title').html(_.escape(app_view_string + '(分类"' + name + '")' ));
	  list.category = code;
	  list.category_name = name;
	  list.load();
  }
</script>

<% include common/foot.html %>
