<% include common/head.html %>

<!-- Side bar -->


<script type="text/javascript" src="/javascripts/app_add_step_1.js"></script>




<!-- This is just a little bit of custom CSS code to enhance things. Feel free to place this in your main CSS file. I've commented to say what each bit does. -->
<style type="text/css">
        /* Removes the default 20px margin and creates some padding space for the indicators and controls */
    .carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }

        /* Reposition the controls slightly */
    .carousel-control {
        left: -12px;
    }

    .carousel-control.right {
        right: -12px;
    }

        /* Changes the position of the indicators */
    .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }

        /* Changes the colour of the indicators */
    .carousel-indicators li {
        background: #c0c0c0;
    }

    .carousel-indicators .active {
        background: #333333;
    }

    .desc {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(128, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        color: #fff !important;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myCarousel').carousel({
            interval: 10000
        })

        $("[rel='tooltip']").tooltip();

        $('#item1').hover(
                function () {
                    $(this).find('.desc').slideDown(250); //.fadeIn(250)
                },
                function () {
                    $(this).find('.desc').slideUp(250); //.fadeOut(205)
                }
        );
    });
</script>
<br>
<br>
<div class="container-fluid top_line">
    <div class="row-fluid">
        <div class="span3">
            <% include common/app_add_sidebar.html %>
        </div>
        <div class="span9 span10_left_line">

            <form class="required-validate form-horizontal" action="/app/create/step1.json" method="post"
                  onsubmit="return validateCallback(this,didSendStep1Callback,didSendFn,'确认提交吗？')">
              <input type="hidden" name="appId" id="appId" value="" >
              <% if (appId != '0') { %>
                <input type="hidden" name="_id" value=""/>
                <%}%>
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <div class="control-group">
                            <label class="control-label">设备</label>

                            <div class="controls row-fluid">
                                <div class="span6">
                                    <% if(appTypes && appTypes.items) { %>
                                    <% appTypes.items.forEach(function(c,i) { %>
                                    <label class="radio span3">
                                        <input class="required" type="radio" name="appType" id="appType"
                                               value="<%= c.code %>" <%=i==0?"checked":""%> />
                                        <%= c.name %>
                                    </label>
                                    <% }); %>
                                    <% } %>
                                </div>

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">App名称</label>

                            <div class="controls">
                                <input class="required" type="text" name="name" id="name" value="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">版本</label>

                            <div class="controls">
                                <input class="required" type="text" name="version" id="version">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">概要</label>

                            <div class="controls">
                                <input class="required" type="text" name="memo" id="memo">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">详细</label>

                            <div class="controls">
                                <textarea class="required" name="description" id="description"
                                          style="resize: none;"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">类别</label>

                            <div class="controls">
                                <select name="category" multiple="multiple">
                                    <% if(categoryTypes && categoryTypes.items) { %>
                                    <% categoryTypes.items.forEach(function(c) { %>
                                    <option value="<%= c.code %>"><%= c.name %></option>
                                    <% }); %>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">设备</label>

                            <div class="controls">
                                <label class="radio">
                                    <input class="required" type="radio" name="device" value="1" checked/>
                                    phone
                                </label>
                                <label class="radio">
                                    <input class="required" type="radio" name="device" value="2"/>
                                    pad
                                </label>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">OS版本</label>

                            <div class="controls">
                                <input class="required" type="text" name="require.os" id="os">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">bundle_identifier</label>

                            <div class="controls">
                                <input class="required" type="text" name="bundle_identifier" id="bundle_identifier">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">bundle_version</label>

                            <div class="controls">
                                <input class="required" type="text" name="bundle_version" id="bundle_version">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">标题</label>

                            <div class="controls">
                                <input class="required" type="text" name="title" id="title">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label"></label>

                            <div class="controls">
                                <button class="btn btn-small btn-success" type="submit">下一步</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<% include common/foot.html %>
