<table id="" class="table table-hover" style="width: 80%">
	<thead id="dl_list_thead">
	<tr>
		<!-- 设置title -->
		<th nowrap="">アイコン</th>
		<th nowrap="" style="width: 200px">App</th>
		<th nowrap="" style="margin-left: 300px">OS</th>
		<th nowrap="">要求</th>
		<th nowrap="">状態</th>
		<th nowrap="">更新情報</th>
		<th nowrap="">操作</th>
	</tr>
	</thead>

	<tbody id="dl_list_tbody">	</tbody>

	<tfoot id="dl_list_foot">
	<tr>
		<th colspan="7">
			<!-- Foot分页 -->
			<div id="dl_list_foot_pages" class="pagination pagination-right"></div>
		</th>
	</tr>
	</tfoot>
</table>