.sidebar {
  margin-left: -30%;
}
.app_add {
  margin-top: 29px;
  margin-left: 22%;
  list-style-type: none;
  font-size: 1em;
}
#thumbnails {
  margin-left: -4%;
  margin-top: -11%;
}
#checking {
  font-size: 1.5em;
}
#passed {
  font-size: 1.5em;
}
#rejected {
  font-size: 1.5em;
}
#unvalid {
  font-size: 1.5em;
}
#check_list_container {
  width: 91%;
}
