@media only screen and (max-height: 879px) {
  .sidebar {
    margin-top: 1%;
    margin-left: -6%;
    width: 13%;
    height: 1px;
    position: absolute;
  }
  .sidebar ul {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .sidebar ul li {
    list-style-type: none;
  }
  .sidebar ul li a {
    display: block;
    padding: 6%;
    border-bottom: 1px solid #EEE;
  }
  .sidebar ul li a:hover {
    background-color: #EEE;
    text-decoration: none;
  }
  .sidebar ul li ul {
    background-color: #F6F6F6;
    box-shadow: inset 0 1px 10px #E0E0E0;
  }
}
@media only screen and (min-height: 880px) {
  .sidebar {
    margin-top: 1%;
    margin-left: -6%;
    width: 13%;
    height: 1px;
    position: fixed;
  }
  .sidebar ul {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .sidebar ul li {
    list-style-type: none;
  }
  .sidebar ul li a {
    display: block;
    padding: 6%;
    border-bottom: 1px solid #EEE;
  }
  .sidebar ul li a:hover {
    background-color: #EEE;
    text-decoration: none;
  }
  .sidebar ul li ul {
    background-color: #F6F6F6;
    box-shadow: inset 0 1px 10px #E0E0E0;
  }
}
