<script type='text/javascript' src='/javascripts/searcher.model.js'></script>
<script type='text/javascript' src='/javascripts/searcher.view.js'></script>

<input type="hidden" id="bright" name="bright" value="" />
<input type="hidden" id="userid" name="userid" value="" />
<input type="hidden" id="timezone" name="timezone" value="" />

<div id="_navbar" style="height: 41px;">
  <nav>
    <ul id="_group0" rel="sam">
      <li style="background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);">
        <a id="starwall" href="/starwall" style="line-height: 37px;font-size: 18px;">
          <img src="/images/starwall.jpg" style="height: 38px; width: 38px;">
          <i class="icon-home icon-small"></i>StallWall
        </a>
      </li>
    </ul>
  </nav>

  <nav>
    <ul id="_group1" rel="sam">
      <li style="background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);width: 60px;">
        <a id="app" href="/starwall"><i class="icon-star icon-large"></i></a>
      </li>
      <li style="background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);width: 60px;">
        <a id="user" href="/starwall"><i class="icon-user icon-large"></i></a>
      </li>
      <li style="background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);width: 60px;">
        <a id="admin" href="/starwall"><i class="icon-group icon-large"></i></a>
      </li>
      <li style="background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);width: 60px;">
        <a id="data" href="/starwall"><i class="icon-signal icon-large"></i></a>
      </li>
    </ul>
  </nav>

  <nav id="_search">
    <input id="search" value="" x-webkit-speech /><div></div>
  </nav>
  <nav>
    <ul class="nav" style="float: right;" rel="sam">
      <li style="background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);width: 40px;">
        <a href="/usereditor" style="line-height: 37px;">
          <img src="<%= user.photo ? '/picture/' + user.photo.big : '/images/user.png' %>" style="height: 20px;width: 20px;">
        </a>
      </li>
      <li style="background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);width: 40px;">
        <a id="_logout" href="/simplelogout"><i class="icon-signout"></i></a>
      </li>
    </ul>
  </nav>
</div>


<div id="_searchresult" class="bucketed">
  <ul class="search">
    <li class="bottom"><i class="icon-search"></i> </li>
  </ul>
</div>

<div id="_findresult" style="z-index: 100000000000000000000000; ">
  <ul class="search">
    <li class="bottom"><i class="icon-search"></i> </li>
  </ul>
</div>

<!-- 全文检索框 -->
<script type="text/template" id="_searchresult-user-template">
  <li class="user">
    <div class="left">
      <a href="/user/{{ id }}">
        <img src="{{ photo }}" />
        <span>{{ name }}</span>
        <span class="addition">{{ addition }}</span>
      </a>
    </div>
    <div class="right">
      <a uid="{{ id }}" class="operation btn btn-small btn-info" href="#"> </a>
    </div>
  </li>
</script>
<script type="text/template" id="_searchresult-group-template">
  <li class="user">
    <div class="left">
      <a href="/group/{{ id }}">
        <img src="{{ photo }}" />
        <span>{{ name }}</span>
        <span class="addition">{{ addition }}</span>
      </a>
    </div>
    <div class="right hidden">
      <a gid="{{ id }}" class="operation btn btn-small btn-info" href="#"> </a>
    </div>
  </li>
</script>
<script type="text/template" id="_searchresult-file-template">
  <li class="user">
    <div class="left">
      <a href="/file/{{ id }}">
        <img src="{{ photo }}" />
        <span>{{ name }}</span>
        <span class="addition">{{ addition }}</span>
      </a>
    </div>
    <div class="right hidden">
      <a fid="{{ id }}" class="operation btn btn-small btn-info" href="#">            </a>
    </div>
  </li>
</script>
<script type="text/template" id="_searchresult-header-template">
  <li class="header">{{ type }}</li>
</script>
<script type="text/template" id="_searchresult-bottom-template">
  <li class="bottom">
    <a href="/list/search?keywords={{ keywords }}"><i class="icon-search"></i> </a>
  </li>
</script>

