<div class="sidebar">

  <ul class="col-nav span3">
  <li>
  <a href="#apptypes" data-toggle="collapse" class="accordion-toggle">
  <span class="label label-inverse pull-right">3 </span>设备
  </a>
  </li>
  <li id="apptypes" class="collapse">
  <ul>
  <li>
  <a href="#"> <i class="pull-right icon-plane"></i>iOS</a>
  <a href="#"> <i class="pull-right icon-fire"></i>Android</a>
  <a href="#"> <i class="pull-right icon-comment"></i>PC Web</a>
  </li>
  </ul>
  </li>
  <li>
  <a href="#business" data-toggle="collapse" class="accordion-toggle">
  <span class="label label-inverse pull-right">10</span>业务类别
  </a>
  </li>
  <li id="business" class="collapse">
  <ul>
  <li>
  <a href="#"> <i class="pull-right icon-signal"></i>贩卖/零售</a>
  <a href="#"> <i class="pull-right icon-fire"></i>制造</a>
  <a href="#"> <i class="pull-right icon-fire"></i>政府部门/事业单位</a>
  <a href="#"> <i class="pull-right icon-fire"></i>金融</a>
  <a href="#"> <i class="pull-right icon-fire"></i>运输</a>
  <a href="#"> <i class="pull-right icon-fire"></i>服务</a>
  <a href="#"> <i class="pull-right icon-fire"></i>信息・通信/广播</a>
  <a href="#"> <i class="pull-right icon-fire"></i>电器・煤气</a>
  <a href="#"> <i class="pull-right icon-fire"></i>教育</a>
  <a href="#"> <i class="pull-right icon-fire"></i>其它</a>
  </li>
  </ul>
  </li>
  <li>
  <a href="#usageRate" data-toggle="collapse" class="accordion-toggle">
  <span class="label label-inverse pull-right">5</span>规模
  </a>
  </li>
  <li id="usageRate" class="collapse">
  <ul>
  <li>
  <a href="#"> <i class="pull-right icon-signal"></i>2000人以下</a>
  <a href="#"> <i class="pull-right icon-fire"></i>1000人以下</a>
  <a href="#"> <i class="pull-right icon-fire"></i>500人以下</a>
  <a href="#"> <i class="pull-right icon-fire"></i>100人以下</a>
  <a href="#"> <i class="pull-right icon-fire"></i>50人以下</a>
  </li>
  </ul>
  </li>
  </ul>
</div>
